.border{
    border: 2px solid red;
}

.flex{
    display: flex;
} 

.justify-center{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
    color: white;
}

.invert{
    filter: invert(1);
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.rounded{
    border-radius: 7px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}